h1{
    color: rgb(214, 148, 184);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
h5{
    color: rgb(214, 148, 184);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    margin-left: 92%;
    color: whitesmoke;
    padding: 5px 7px;
    border-radius: 15px;
    text-decoration: none;
    background-color:rgb(211, 165, 190);
}
.tmbhsis a{

    color: whitesmoke;
    padding: 5px 7px;
    border-radius: 15px;
    text-decoration: none;
    background-color:rgb(211, 165, 190);
}
.siswa {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
.siswa td, .siswa th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

.siswa tr:hover{
  background-color: #ddd;
}
.siswa th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ddacc6;
    color: white;
  }