h1{
    color: rgb(214, 148, 184);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.tambah input[type=text]{
    width: 35%;
    color: white;
    padding: 6px 7px;
    border-radius: 10px;
    margin-left: 32%;
    border: none;
    background-color: rgb(214, 148, 184);
    cursor: pointer;
}
.tambah select{
    width: 35%;
    color: white;
    padding: 6px 7px;
    border-radius: 10px;
    margin-left: 32%;
    border: none;
    background-color: rgb(214, 148, 184);
    cursor: pointer;
}
.tambah input[type=submit]{
    padding: 6px 7px;
    color: white;
    border-radius: 10px;
    margin-left: 32%;
    border: none;
    background-color: rgb(240, 191, 217);
    cursor: pointer;
}